/*
  Name: Justice Tolentino
  Date: 09.17.2026
  CSC 372-01

  This is the styles.css page for my layouts assignment. It acts as the staging area for all of the style changes I
  want to make to various elements in my html files.
*/

.top_bar{
    background-color: #5f1d1d;
    padding: 20px;
    text-align: center;
}

.tag_line{
    font-size: medium;
}

#aboutList{
    background-color: #5f1d1d;
    padding: 20px;
    text-align: center;
}

#campusPhoto{
    align-items: center;
}

.card-stack{
  display: block;
}


.card-container{
  border: 2px solid black;
  padding: 5px;
  display: grid;
  height: 300px;
  width: 200px;

  grid-template-rows:  100px 200px;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(126, 24, 24);
  color: rgb(31, 29, 29);
}

.card-object{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 3px;
    font-size: small;
}

footer{
    background-color: #919191;
    padding: 40px;
    text-align: left;
    font-size: small;
}


.flex-container {
  border: 2px;
  padding: 40px;
  height: 900px;
  display: flex;

  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#main-content{
  border: 2px solid black;
  padding: 5px;
  display: grid;
  height: 500px;
  width: auto;

  grid-template-columns:  400px 400px;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(126, 24, 24);
  color: rgb(0, 0, 0);
}


@media screen and (width <= 500px) {

  #main-content{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 800px;
  }
}

@media screen and (width >= 500px) {

  .card-stack{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap-reverse;
    height: 800px;
  }
}