.top_bar{
    background-color: #5f1d1d;
    padding: 20px;
    text-align: center;
}

.tag_line{
    font-size: medium;
}

#aboutList{
    background-color: #5f1d1d;
    padding: 20px;
    text-align: center;
}

#campusPhoto{
    align-items: center;
}

.card-stack{
  display: block;
}


.card-container{
  border: 2px solid black;
  padding: 5px;
  display: grid;
  height: 300px;
  width: 200px;

  grid-template-rows:  100px 200px;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(126, 24, 24);
  color: rgb(31, 29, 29);
}

.card-object{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 3px;
    font-size: small;
}

footer{
    background-color: #919191;
    padding: 20px;
    text-align: left;
    font-size: small;
}

@media screen and (width >= 600px) {

  .card-container{
    align-content: center;
  }
}

.flex-container {
  padding: 20px;
  height: 600px;
  display: flex;

  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.flex-card-container{
  border: 2px solid black;
  padding: 5px;
  display: flex;
  height: 300px;
  width: 200px;

  grid-template-rows:  100px 200px;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(126, 24, 24);
  color: rgb(31, 29, 29);
}